body{margin:0; padding:0; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#FFFFFF; background-color:#1E1E1E;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; width:100%; clear:both;}

.fl_left{float:left;}
.fl_right{float:right;}

div.wrapper{display:block; width:100%; text-align:left;}

.rivi1{color:#C0BAB6; background-color:#333333;}
.rivi2{color:#979797; background-color:#FFFFFF;}
.rivi3{color:#FFFFFF; background-color:#1E1E1E;}



#header, #container, #footer{display:block; margin:0 auto; width:960px;}

h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-size:24px; font-weight:normal; font-style:normal; line-height:normal;}

#container #col1{display:block; float:left; width:630px; color:#6C6E72; background-color:#DDDDDD;}

#container #col2{display:block; float:right; width:300px; color:#979797; background-color:#FFFFFF;}
#container #col2 .laatikko1{display:block; width:300px; color:#FFFFFF; background-color:#666666;}
#container #col2 .laatikko2{display:block; width:300px; color:#666666; background-color:#CCCCCC;}