body{margin:0; padding:0; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#FFFFFF; background-color:#1E1E1E;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; width:100%; clear:both;}

img{margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgholder, .imgl, .imgr{padding:4px; border:1px solid #D6D6D6; text-align:center;}
.imgl{float:left; margin:0 15px 15px 0; clear:left;}
.imgr{float:right; margin:0 0 15px 15px; clear:right;}

q{display:block; padding:0 10px 8px 10px; color:#979797; background-color:#ECECEC; font-style:italic; line-height:normal;}

.rivi1{color:#C0BAB6; background-color:#333333;}
.rivi2{color:#979797; background-color:#FFFFFF;}
.rivi3{color:#FFFFFF; background-color:#1E1E1E;}

#header, #container, #footer{display:block; margin:0 auto; width:960px;}

h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-size:20px; font-weight:normal; font-style:normal; line-height:normal;}

#header #hgroup{float:left; padding:20px 0;}

#container{padding:30px 0;}
#container section{margin:0 0 30px 0;}
#container section.last{margin:0;}
#container .more{text-align:right; text-transform:uppercase; font-size:smaller; font-weight:bold;}

.kappale1, .kappale2{display:block; float:left; margin:0 20px 0 0; text-align:justify;}

.kappale1{width:176px;}
.kappale2{width:372px;}
.vikalaatikko{margin-right:0;}

#footer p{margin:0; padding:20px 0;}